.login {
  height: 100vh;
  background-color: #6464b2;
  display: flex;
  align-items: center;
  justify-content: center;

  .card {
    width: 90%; /* Ajuste la largeur pour les petits écrans */
    max-width: 1200px; /* Limite la largeur maximale */
    display: flex;
    flex-direction: row; /* Pour les écrans larges */
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)),
      url("https://images.pexels.com/photos/2422286/pexels-photo-2422286.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;

      h1 {
        font-size: 4rem; /* Taille de police plus petite pour les écrans plus petits */
        line-height: 1.2;
      }

      span {
        font-size: 1rem;
      }

      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: rgb(146, 189, 103);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: center;

      h1 {
        color: #555;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .input-container {
          position: relative;
          margin-bottom: 20px;

          input {
            border: 1px solid lightgray;
            padding: 10px;
            width: 100%;
            border-radius: 5px;
          }

          &.error input {
            border-color: red;
          }

          .error-message {
            color: red;
            font-size: 0.875rem;
            position: absolute;
            bottom: -20px;
            left: 0;
            width: 100%;
            margin-top: 5px;
          }
        }

        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: rgb(146, 189, 103);
          color: white;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .card {
      flex-direction: column; /* Colonne pour les écrans intermédiaires */
      width: 90%;
    }

    .left, .right {
      padding: 30px;
    }
    
    .left {
      h1 {
        font-size: 3rem;
      }

      button {
        width: 70%;
      }
    }

    .right {
      form {
        gap: 20px;

        .input-container {
          margin-bottom: 15px;
        }
        
        button {
          width: 70%;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .card {
      flex-direction: column; /* Colonne pour les petits écrans */
      width: 95%;
    }

    .left {
      h1 {
        font-size: 2.5rem;
      }

      span {
        font-size: 0.875rem;
      }
    }

    .right {
      form {
        gap: 15px;

        .input-container {
          margin-bottom: 10px;
        }

        button {
          width: 80%;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .left {
      h1 {
        font-size: 2rem;
      }

      button {
        width: 80%;
      }
    }

    .right {
      form {
        gap: 10px;

        .input-container {
          margin-bottom: 10px;
        }

        button {
          width: 90%;
        }
      }
    }
  }
}
