.share {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-right: 10px;

      .profile-icon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #6a1b9a; // Violet Principal
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        margin-right: 10px;
      }

      .description-input {
        width: 100%;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 8px;
        background-color: #f5f5f5;
        font-size: 16px;
      }
    }

    .right {
      .preview-image {
        max-width: 200px;
        max-height: 150px;
        border-radius: 8px;
        object-fit: cover;
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    .left {
      display: flex;
      align-items: center;

      input[type="file"] {
        display: none;
      }

      label {
        cursor: pointer;
      }
    }

    .right {
      Button {
        text-transform: none;
        background-color: #6a1b9a; // Violet Principal
        &:hover {
          background-color: #5a1a8c; // Couleur légèrement plus foncée au survol
        }
      }
    }
  }
}
