.profile {
  .profileHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center; // Centre le texte et les éléments enfants
  }

  .profileAvatar {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%; // Assure que l'avatar est rond
  }

  .profileDetails {
    margin-top: 10px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    text-align: center;
  }

  .item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .socialLinks {
    display: flex;
    justify-content: center; // Centre les icônes horizontalement
    gap: 10px;
    margin-top: 20px;
  }

  .socialLinks .MuiIconButton-root {
    color: #555;
  }

  .editButton {
    margin-top: 20px;
  }
}
