// Couleurs personnalisées
$navbar-background: #673ab7; // Violet pour la barre de navigation
$navbar-text-color: #ffffff; // Couleur du texte (blanc)
$navbar-icon-hover: #d1c4e9; // Couleur des icônes au survol (un violet plus clair)

// Styles de la barre de navigation
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 10px 30px;
  background-color: $navbar-background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 10px;
  z-index: 1000;
  transition: background-color 0.3s ease;
  height: 60px;

  .left {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 40px;
    }
  }

  .right {
    display: flex;
    align-items: center;

    .MuiIconButton-root {
      color: $navbar-text-color;
      margin: 0 10px;
      &:hover {
        background-color: $navbar-icon-hover;
      }
    }

    .MuiButton-root {
      color: $navbar-text-color;
      background-color: #5e35b1; // Une teinte plus foncée de violet pour le bouton
      margin-left: 20px;
      &:hover {
        background-color: #512da8; // Teinte encore plus foncée au survol
      }
    }

    .MuiAvatar-root {
      background-color: #9575cd; // Couleur de l'avatar
      margin-left: 20px;
      width: 40px;
      height: 40px;
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    padding: 10px;
    height: 50px;

    .MuiIconButton-root {
      margin: 0 5px;
    }

    .MuiButton-root, .MuiAvatar-root {
      margin-left: 10px;
    }
  }

  @media (max-width: 480px) {
    flex-direction: column;
    height: auto;
    padding: 10px;

    .right {
      margin-top: 10px;
      width: 100%;
      justify-content: space-between;
    }

    .MuiButton-root, .MuiAvatar-root {
      margin-top: 10px;
    }
  }
}
