// src/styles/variables.scss

$navbar-background: #ffffff; // Fond de la barre de navigation
$navbar-icon-color: #6a1b9a; // Couleur des icônes
$navbar-icon-hover-color: #5a1a8c; // Couleur des icônes au survol
$logout-button-color: #6a1b9a; // Couleur du bouton de déconnexion
$logout-button-hover-color: #5a1a8c; // Couleur du bouton de déconnexion au survol
