.post {
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    .user-info {
      display: flex;
      align-items: center;

      .avatar {
        width: 40px;
        height: 40px;
        margin-right: 10px;
      }

      .details {
        display: flex;
        flex-direction: column;

        .username {
          font-weight: bold;
          color: #333;
        }
      }
    }

    .more-options {
      position: relative;
    }
  }

  .post-content {
    margin: 15px 0;
    color: #555;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .post-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    object-fit: cover;
  }

  .MuiCardActions-root {
    padding: 10px;
    display: flex;
    justify-content: space-between;

    .like-button {
      &.liked {
        color: #e91e63;
      }
    }
  }
}

@media (max-width: 600px) {
  .post {
    .post-header {
      flex-direction: column;
      align-items: flex-start;
    }

    .MuiCardActions-root {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
